<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>729</integer>
    <key>capHeight</key>
    <integer>699</integer>
    <key>copyright</key>
    <string>Copyright 2026 The Buena Mono Project Authors (https://github.com/buenagames/buena-mono).</string>
    <key>descender</key>
    <integer>-218</integer>
    <key>familyName</key>
    <string>Buena Mono</string>
    <key>italicAngle</key>
    <integer>10</integer>
    <key>openTypeHeadCreated</key>
    <string>2026/07/02 12:32:27</string>
    <key>openTypeHheaAscender</key>
    <integer>950</integer>
    <key>openTypeHheaDescender</key>
    <integer>-250</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameDesigner</key>
    <string>Buena</string>
    <key>openTypeNameDesignerURL</key>
    <string>https://github.com/buenagames/buena-mono</string>
    <key>openTypeNameLicense</key>
    <string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://openfontlicense.org</string>
    <key>openTypeNameLicenseURL</key>
    <string>https://openfontlicense.org</string>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>2</integer>
      <integer>11</integer>
      <integer>5</integer>
      <integer>9</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Selection</key>
    <array>
      <integer>7</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>950</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-250</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2VendorID</key>
    <string>BUEN</string>
    <key>openTypeOS2WinAscent</key>
    <integer>1480</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>356</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>-2</integer>
      <integer>0</integer>
      <integer>508</integer>
      <integer>524</integer>
      <integer>689</integer>
      <integer>697</integer>
      <integer>713</integer>
      <integer>713</integer>
    </array>
    <key>postscriptFontName</key>
    <string>BuenaMono-ThinItalic</string>
    <key>postscriptIsFixedPitch</key>
    <true/>
    <key>postscriptOtherBlues</key>
    <array>
      <integer>-202</integer>
      <integer>-202</integer>
    </array>
    <key>postscriptStemSnapH</key>
    <array>
      <integer>50</integer>
    </array>
    <key>postscriptStemSnapV</key>
    <array>
      <integer>50</integer>
    </array>
    <key>postscriptUnderlinePosition</key>
    <integer>-100</integer>
    <key>postscriptUnderlineThickness</key>
    <integer>50</integer>
    <key>styleMapFamilyName</key>
    <string>Buena Mono Thin</string>
    <key>styleMapStyleName</key>
    <string>italic</string>
    <key>styleName</key>
    <string>Thin Italic</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>228</integer>
    <key>xHeight</key>
    <integer>524</integer>
  </dict>
</plist>
